@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: normal;
  font-optical-sizing: auto;
  background-color: #f7f7fb;
  color: #0d163a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  border-width: 1px;
  border-color: #f7f7fb;
  width: 100%;
}

a {
  color: #0d163a;
  text-decoration: none;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: 1rem;
  border: 1px solid #dedede;
  padding: 0.5em;
  border-radius: 4px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

img {
  display: block;
  height: auto;
}

.grid-page {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25em;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 1100px) {
  .grid-page {
    grid-template-columns: 8.5fr 3.5fr;
  }
}
.btn,
a {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}
.btn img,
a img {
  pointer-events: none;
}
.btn:hover, .btn:active,
a:hover,
a:active {
  background-color: #f7f7fb;
}

.card {
  background-color: #fff;
  padding: 1.25em;
  border-radius: 14px;
  height: 100%;
  width: 100%;
}
.card .card-title,
.card .card-body {
  width: 100%;
}
.card .card-title {
  padding-bottom: 1.5625em;
}
.card .card-title-border {
  border-bottom: 1px solid #dedede;
}

.card-between {
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#backdrop {
  display: none;
  background-color: black;
  opacity: 0.1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 80;
}

.form-group--with-icon {
  position: relative;
}
.form-group--with-icon input {
  border: 0;
  padding: 14px 20px;
  border-radius: 9999px;
  padding-top: 20px;
  padding-right: 22px;
  padding-bottom: 20px;
  padding-left: 46px;
  width: 100%;
}
.form-group--with-icon img {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.dropdown-container {
  position: relative;
}
.dropdown-container .dropdown-container__dropdown {
  box-shadow: rgba(60, 64, 67, 0.1) 0px 1px 2px 0px, rgba(60, 64, 67, 0.1) 0px 2px 6px 2px;
  font-size: 12px;
  display: block;
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 14px;
  width: 200px;
  position: absolute;
  top: 50px;
  left: 0;
}
.dropdown-container .dropdown-container__dropdown.collapsed {
  display: none;
}
.dropdown-container .dropdown-container__dropdown__title {
  padding: 0.625em 1.25em;
  font-size: 10px;
  width: 100%;
  background-color: #f7f7fb;
  border-bottom: 1px solid #dedede;
}
.dropdown-container .dropdown-container__dropdown__list {
  list-style: none;
  padding: 0;
}
.dropdown-container .dropdown-container__dropdown__list .dropdown-container__dropdown__list__item {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
.dropdown-container .dropdown-container__dropdown__list .dropdown-container__dropdown__list__item a {
  display: block;
  width: 100%;
  padding: 0.4375em 1.25em;
}

#main-content {
  margin-left: 0;
  margin: 1.25em;
}

.btn-header-nav {
  display: block;
  background-color: #fff;
  padding: 0.625em;
  border-radius: 9999px;
  width: fit-content;
  transition: background-color 0.1s ease-in-out;
}
.btn-header-nav img {
  height: 28px;
  width: 28px;
}
.btn-header-nav:hover {
  background-color: #dedede;
}

#page-header {
  margin: 1.25em;
  position: relative;
}
#page-header .page-header__navbar {
  display: flex;
  justify-content: space-between;
  gap: 0.9375em;
}
#page-header .page-header__navbar #btn-header-menu {
  display: block;
  height: 100%;
}
#page-header #page-header-buttons {
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-shadow: rgba(60, 64, 67, 0.1) 0px 1px 2px 0px, rgba(60, 64, 67, 0.1) 0px 2px 6px 2px;
  display: flex;
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #fff;
  border-radius: 9999px;
  gap: 10px;
  padding: 8px;
}
#page-header #page-header-buttons.collapsed {
  display: none;
}
#page-header #page-header-buttons .page-header-button, #page-header #page-header-buttons #page-header-button-profile {
  border: 1px solid #dedede;
  padding: 8px 18px;
  border-radius: 9999px;
}
#page-header #page-header-buttons .page-header-button img, #page-header #page-header-buttons #page-header-button-profile img {
  height: 24px;
  width: auto;
}
#page-header #page-header-buttons .page-header-notification__datetime {
  font-size: 10px;
  color: #7c7c7c;
}
#page-header #page-header-buttons #page-header-profile-dropdown {
  right: 0;
  left: unset;
}
#page-header #page-header-buttons #page-header-button-profile {
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.25em;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
}
#page-header #page-header-buttons #page-header-button-profile #page-header-button-profile-avatar {
  width: 24px;
  height: 24px;
  object-fit: cover;
  border-radius: 9999px;
}
#page-header #page-header-buttons #page-header-button-profile img {
  height: 6px;
  width: auto;
}

@media only screen and (min-width: 740px) {
  #main-content,
  #page-header {
    margin-left: calc(280px + 1.25em);
  }
  .page-header__navbar {
    display: grid !important;
    grid-template-columns: 8.5fr 3.5fr !important;
    gap: 1.25em !important;
  }
  .page-header__navbar #btn-header-menu {
    display: none !important;
  }
  #page-header-buttons {
    position: static !important;
    display: flex !important;
    box-shadow: none !important;
  }
}
#sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  background-color: #fff;
  overflow-y: scroll;
  height: 100vh;
  width: 280px;
  transition: left 0.3s ease-in-out;
}
#sidebar #sidebar-header {
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 1.25em;
}
#sidebar #sidebar-header .sidebar__brand {
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.625em;
  padding: 1.875em;
}
#sidebar #sidebar-navbar {
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}
#sidebar #sidebar-navbar > * {
  width: 100%;
}
#sidebar #sidebar-navbar .sidebar-navbar__links {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1.25em;
}
#sidebar #sidebar-navbar .sidebar-navbar__links .sidebar-navbar__links__item {
  padding: 0 1.25em;
  transition: background-color 0.1s;
}
#sidebar #sidebar-navbar .sidebar-navbar__links .sidebar-navbar__links__item.active {
  border-left: 4px solid #4745a4;
}
#sidebar #sidebar-navbar .sidebar-navbar__links .sidebar-navbar__links__item:hover {
  background-color: #f7f7fb;
}
#sidebar #sidebar-navbar .sidebar-navbar__links .sidebar-navbar__links__item .sidebar-navbar__links__item__link {
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 16px;
  padding-left: 25px;
  padding-top: 0.375em;
  padding-bottom: 0.375em;
}
#sidebar #sidebar-navbar #sidebar-footer {
  margin-bottom: 1.25em;
}
#sidebar.sidebar-collapsed {
  left: -280px;
  display: block;
}
#sidebar::-webkit-scrollbar {
  width: 5px;
}
#sidebar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #fff;
  border-radius: 10px;
}
#sidebar::-webkit-scrollbar-thumb {
  background: #4745a4;
  border-radius: 10px;
}

@media only screen and (min-width: 740px) {
  #sidebar {
    left: 0;
  }
  .btn-sidebar-collapse {
    display: none;
  }
}
#section-overview .section-overview__stats {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25em;
}
#section-overview .section-overview__stats .section-overview__stats__item {
  border: 1px solid #dedede;
  border-radius: 14px;
  padding: 1.25em;
  transition: background-color 0.1s;
  cursor: pointer;
}
#section-overview .section-overview__stats .section-overview__stats__item:hover {
  background-color: #4745a4;
  color: #fff;
}
#section-overview .section-overview__stats .section-overview__stats__item:hover .section-overview__stats__item__value svg path {
  stroke: #fff;
}
#section-overview .section-overview__stats .section-overview__stats__item:hover .section-overview__stats__item__value svg {
  transform: rotate(-45deg) scale(1.5);
}
#section-overview .section-overview__stats .section-overview__stats__item .section-overview__stats__item__header {
  display: grid;
  grid-template-columns: 1.5fr 8.5fr;
  gap: 0.625em;
  align-items: center;
  border-bottom: 1px solid #dedede;
  margin-bottom: 1.25em;
  padding-bottom: 1.25em;
}
#section-overview .section-overview__stats .section-overview__stats__item .section-overview__stats__item__header .section-overview__stats__item__header__icon {
  grid-row: 1/3;
}
#section-overview .section-overview__stats .section-overview__stats__item .section-overview__stats__item__header p {
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 12px;
  gap: 0.3125em;
}
#section-overview .section-overview__stats .section-overview__stats__item .section-overview__stats__item__value {
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#section-overview .section-overview__stats .section-overview__stats__item .section-overview__stats__item__value svg {
  transition: transform 0.1s ease-in-out;
}

@media only screen and (min-width: 850px) {
  .section-overview__stats {
    grid-template-columns: 1fr 1fr !important;
  }
}
#section-splan {
  display: flex;
  flex-direction: column;
}
#section-splan .card-title {
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#section-splan .card-title a {
  color: #4745a4;
}
#section-splan .section-splan__item {
  display: flex;
  flex-direction: column;
  gap: 0.9375em;
  padding: 8px;
  margin-top: 12px;
}
#section-splan .section-splan__item .section-splan__item__header {
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#section-splan .section-splan__item .section-splan__item__header p {
  font-size: 12px;
  font-weight: lighter;
}
#section-splan .section-splan__item .section-splan__item__stats .section-splan__item__stats__detail {
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 0.9375em;
}
#section-splan .section-splan__item .section-splan__item__stats .section-splan__item__stats__detail .section-splan__item__stats__detail__value span {
  font-size: 12px;
  font-weight: lighter;
}
#section-splan .section-splan__item .section-splan__item__stats .section-splan__item__stats__range {
  width: 100%;
  height: 8px;
  background-color: #dedede;
  position: relative;
  border-radius: 14px;
  overflow: clip;
}
#section-splan .section-splan__item .section-splan__item__stats .section-splan__item__stats__range .section-splan__item__stats__range__value {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

#section-analytics .card-title {
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#section-analytics #section-analytics-filter-by-week select {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #dedede;
  color: #7c7c7c;
  cursor: pointer;
}
#section-analytics #section-analytics-filter-by-week select:hover {
  background-color: #f7f7fb;
}
#section-analytics #analytics-chart-container {
  height: 35vh;
  width: 100%;
}

#section-recentr .card-title {
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#section-recentr .card-title a {
  color: #4745a4;
}
#section-recentr .section-recentr__item {
  display: grid;
  grid-template-columns: 9fr 2fr;
  gap: 1.25em;
  margin-top: 1.875em;
}
#section-recentr .section-recentr__item .section-recentr__item__info {
  display: grid;
  grid-template-columns: 1.5fr 10.5fr;
  align-items: center;
  gap: 1.25em;
}
#section-recentr .section-recentr__item .section-recentr__item__info .section-recentr__item__info__detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5625em;
  height: 100%;
}
#section-recentr .section-recentr__item .section-recentr__item__info .section-recentr__item__info__img img {
  width: 100%;
  height: 28px;
  object-fit: contain;
}
#section-recentr .section-recentr__item .section-recentr__item__stats {
  text-align: center;
}
#section-recentr .section-recentr__item .section-recentr__item__info__detail p,
#section-recentr .section-recentr__item .section-recentr__item__stats p {
  font-size: 12px;
}
#section-recentr .section-recentr__item .section-recentr__item__stats p {
  font-weight: bold;
  color: #3bbb6e;
}

/*# sourceMappingURL=styles.css.map */
