*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: {
    family: $font-family;
    weight: normal;
    optical-sizing: auto;
  }
  background-color: $gray-50;
  color: $gray-800;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  border: 1xp solid $gray-800;
  margin: calc(2 * $base-spacing) 0;
  width: 100%;
}

a {
  color: $gray-800;
  text-decoration: none;
}

input,
button {
  font-family: inherit;
}

h1,
h2,
h3 {
  font-weight: bold;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
