*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: {
    family: $font-family;
    weight: normal;
    optical-sizing: auto;
  }
  background-color: $gray-50;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  border-width: 1px;
  border-color: $gray-50;
  width: 100%;
}

a {
  color: $text-color;
  text-decoration: none;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: 1rem;
  border: 1px solid $gray-100;
  padding: 0.5em;
  border-radius: 4px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

img {
  display: block;
  height: auto;
}
