.btn,
a {
  background-color: transparent;
  border: none;
  cursor: pointer;
  img {
    pointer-events: none;
  }
  transition: background-color 0.1s ease-in-out;

  &:hover,
  &:active {
    background-color: $gray-50;
  }
}

.card {
  background-color: $gray-0;
  padding: $base-spacing;
  border-radius: $base-radius;
  height: 100%;
  width: 100%;
  .card-title,
  .card-body {
    width: 100%;
  }

  .card-title {
    padding-bottom: calc($base-spacing * 1.25);
  }

  .card-title-border {
    border-bottom: 1px solid $gray-100;
  }
}

.card-between {
  @include flex-col-between;
}

#backdrop {
  display: none;
  background-color: black;
  opacity: 0.1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 80;
}
