.grid-page {
  display: grid;
  grid-template-columns: 1fr;
  gap: $base-spacing;
}

.flex-row {
  @include flex-row;
}
.flex-col {
  @include flex-col;
}

@media only screen and (min-width: 1100px) {
  .grid-page {
    grid-template-columns: 8.5fr 3.5fr;
  }
}
