// Colors

$primary-color: #4745a4;
$secondary-color: #2ecc71;
$text-color: #0d163a;
$gray-0: #fff;
$gray-50: #f7f7fb;
$gray-100: #dedede;

// Font
$font-family: "Plus Jakarta Sans", sans-serif;

// Border
$border-pill: 9999px;
$base-radius: 14px;

// Spacing
$base-spacing: 1.25em;

// Sidebar
$sidebar-width: 280px;
